//  FOOTER TOP
.footer-top {
    background-image: url(../../../public/img/footer-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-top-container, .footer-links {
    display: flex;
    justify-content: space-between;
}
.top-left-link {
    max-width: 615px;
    width: 615px;
}
.footer-links, .footer-links h3 {
    margin: 15px 0;

    h3 {
        color: var(--fourth-color);   
    }
    ul {
        list-style-type: none;
        margin-right: 50px;

    }
    li {
        margin-bottom: 5px;
    }
}
.top-right-image {
    height: 400px;
    display: flex;
    align-items: center;
}
.footer-links a, .agreement-section p, .agreement-section a {
    color: var(--fifth-color);
    text-decoration: none;
    font-size: var(--font-sm);
}
.agreement-section a {
    color: var(--first-color);
}
//  FOOTER BOTTOM
.footer-bottom {
    background-color: var(--third-color);
    height: 100px;
}