//  NAV-UP
.nav-up {
    background-color: var(--first-color);

    span, a {
        color: var(--fourth-color);
        font-size: var(--font-xs);
        text-decoration: none;
        margin-left: 40px;
        font-weight: bold;
    }
}
.credit {
    padding: 6.5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
//  NAV-BOTTOM
.nav-bottom {
    padding: 15px 0;
}
.navbar-content {
    a, .search-bar {
        color: var(--sixth-color);
        font-weight: bold;
    }
    a {
        font-size: var(--font-md);
        margin: 0 15px;
    }
    li, a {
        list-style-type: none;
        text-decoration: none;
    }
}
.navbar-content, .navbar {
    display: flex;
    align-items: center;
}
.navbar-content {
    justify-content: space-between;
}
.logo-img {
    width: 80px;
}
.search-bar {
    border-bottom: 2px solid var(--first-color);
    padding-left: 70px
}