.comic-container {
    background-color: var(--second-color);
    padding: 80px 0;
}
.comic-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    color: var(--fourth-color);
}