@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;

300;400;500;700&display=swap);:root {
  --first-color: #0282F9;
  --second-color: #1C1C1C;
  --third-color: #303030;
  --fourth-color: #fff;
  --fifth-color: #797979;
  --sixth-color: #464646;
  --seventh-color: #959595;
  --container-medium: 1080px;
  --container-large: 1240px;
  --font-xs: .6875rem;
  --font-sm: .8125rem;
  --font-md: 1.25rem;
  --font-lg: 1.625rem;
  --font-xl: 2.1875rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.container-lg {
  max-width: var(--container-large);
  margin: auto;
}

.container-md {
  max-width: var(--container-medium);
  margin: auto;
}

.nav-up {
  background-color: var(--first-color);
}

.nav-up span,
.nav-up a {
  color: var(--fourth-color);
  font-size: var(--font-xs);
  text-decoration: none;
  margin-left: 40px;
  font-weight: bold;
}

.credit {
  padding: 6.5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

